body {
  scroll-behavior: smooth;
  margin: 0;
  padding:0;
  display: flex;
  background-color: rgb(1, 15, 27);
  font-family: Calibri;
}

.aside {
  border: black 3px solid;
  margin: .5rem;
  background-color: rgb(20, 33, 63);
  padding: 10px;
  width: fit-content;
  width: 11rem;
  height: fit-content;
  color: whitesmoke;
}

header a {
  color: aqua;
}

header a:hover {
  color: rgb(0, 68, 255);
}

header a:active {
  color: rgb(0, 255, 119);
}

h3 {
  margin:0;
}


.cell {
  font-size: x-small;
  padding:1px;
  max-width:100%;
  white-space:nowrap;
  border: solid black 2px;
  margin: 0px;
  background-color: rgb(90, 93, 122);
}

.cell_empty {
  background-color: lightgray;
  padding:5px;
  max-width:100%;
  border: solid rgb(243, 243, 243) .5px;
}

.cell_match {
  max-width:100%;
  border: solid rgb(182, 164, 0) 4px;
  font-size:xx-small;
}

#start {
  border: solid rgb(6, 184, 0) 5px;
}

#end {
  border: solid rgb(211, 1, 1) 5px;
}

.route {
  font-family: fantasy;
  font-size:medium;
}
.route_occurances {
  color: rgb(195, 0, 0);
}


main {
  margin: .5rem;
  overflow-x:scroll;
  overflow-y:scroll;
  width: 83.5%;
  height:96.5vh;
  border: black 3px solid;
}
table {
  border-collapse: collapse;
}